.amenities {
    height: 100%;
    width: 25%;
    left:25%;
    border-right: 1px #DDDDDD;
    position: absolute;
    height: 100%;
}
.locations {
    height: 100%;
    width: 25%;
    border-right: 1px #DDDDDD solid;
    position: absolute;
    height: 100%;
}

.filters {
    color: rgb(255, 255, 255);
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
  }

.locations h3 {
    font-weight: 600;
  }
.locations h4 {
    font-weight: 400;
    font-size: 14px;
  }
  
.amenities h3 {
    font-weight: 600;
  }
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
  }